<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="listener.ListenerClass"></listener>


</listeners>
  <test thread-count="5" name="Test">
    <classes>
  <!--<class name="TestCase.VerifyAdmin"/> -->    
 <!-- <class name="TestCase.VerifyLoginTestCase"/> --> 
 <!--<class name="TestCase.VerifyDashboard"/>  --> 
 <!-- <class name="TestCase.VerifyInsights"/>  -->
<!--  --><class name="TestCase.VerifyOEI"/>
  <!--<class name="TestCase.VerifyRisk"/>  --> 
  <!-- <class name="TestCase.VerifyAnalysis_SecurityPulse"/> --> 
 <!-- <class name="TestCase.VerifyAnalysis_Perspective"/> --> 
   <!--<class name="TestCase.verifyEditProfile"/>     -->
  <!-- <class name="TestCase.VerifyLoginTestCaseNegative"/> --> 
    <!--<class name="TestCase.Verify_Analysis_Perspective_Negative"/>   --> 
<!--<class name="TestCase.VerifyEditProfileNegative"/> --> 
  <!-- <class name="TestCase.VerifyInsightsNegative"/> -->   
   <!-- <class name="TestCase.VerifyOEINegative"/> -->  

   <!--  <class name="TestCase.VerifyEntityOnboarding"/>-->  
  

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
